
    /* body thẻ Comment */
    .content_post{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1200px;
        height: 700px;
        transform: translate(-50% -50%);
        border: 2px solid #000;
        box-shadow: 24px;
    }
    /* Poster */
    .posterSticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;

         /* border: 1px solid red */
    }
     /* Nội dung người dùng comment */
    .content {
        width: 100%;
        height: 475;
        overflow-y: scroll;


         /* border: 1px solid black */
    }
     /* Phần nhập nội dung comment */
    .inputSticky {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;

        height: 150px;
         /* border: 1px solid #4CAF50 */
    }
    /* Từng thẻ comment của các User */
    .userComment {
        padding-bottom: 80px;
    }
     /* Content của bài comment */
    .img_post {
        height: 700px;
    }
     /* Thanh trạng thái của Poster */
    .Poster {
        position: relative;
        height: 70px;
    }
    .avatar_poster {
        border: 2px solid black;
        margin: 10px;
    }
    .namePoster {
        position: absolute;
        top: 17px;
        left: 20%;
        font-size: 24px;
        font-weight: bold;
    }
    .statusPoster {
        position: absolute;
        font-size: 14;
        top: 25px;
        left: 60%;
        opacity: 0.5;
    }
    .btnSettingPoster {
        position: absolute;
        top: 10px;
        right: 20px;
    }
     /* Thanh trạng thái comment của User */
    .User {
        position: relative;
        padding-top: 10px;
    }
    .userInfo {
        position: relative;
    }
    .avatarUser {
        position: absolute;
        top: 20%;
        left: 3%;
    }
    .nameUser {
        position: absolute;
        padding-top: 10px;
        left: 15%;
         font-weight: bold;
        font-size: 18;
    }
    .commentBody{
        position: relative;
    }
    .commentUser{
        position: absolute;
        top: 35px;
        left: 15%;
    }
    .commentContent{
        position: absolute;
        font-size: 16px;
    }
    .likeComment{
        position: absolute;
        top: 35px;
        left: 90%;
    }
    .statusUser{
        position: absolute;
        left: 15%;
        top: 60px;
        font-size: 12px;
        opacity: 0.5;
    }
    .likeCount{
        position: absolute;
        top: 60px;
        left: 35%;
        font-size: 12px;
        opacity: 0.5;
    }
    .reply{
        position: absolute;
        top: 55px;
        left: 70%;
    }
    .btnReply{
        font-size: 12px;
        color: black;
        opacity: 0.5;
         font-weight: bold;
        text-decoration: none;
    }
    .borderBottom{
        border-bottom: 2px solid black;
        opacity: 0.5;
    }
    .borderTop{
        border-top: 2px solid black;
        opacity: 0.5;
    }
    .inputComment{
        position: relative;
    }
    .input_btnLike{
        position: absolute;
        left: 5%;
    }
    .input_btnComment{
        position: absolute;
        left: 20%;
    }
    .input_btnShare{
        position: absolute;
        left: 35%;
    }
    .input_btnSave{
        position: absolute;
        right: 5%;
    }
    .input_statLikeCount{
        position: absolute;
        top: 50px;
        left: 5%;
    }
    .input_status{
        position: absolute;
        top: 50px;
        left: 30%;
    }
    .p_input{
        color: black;
        opacity: 0.5;
    }
    .input_avataComment{
        position: absolute;
        top: 90px;
        left: 10px;
    }
    .input_commentContent{
        position: absolute;
        top: 95px;
        left: 15%;
    }
    /* Css cho input */
    .input_Content{
        width: 300px;
        height: 40px;
    }
    .input_Submit{
        position: absolute;
        top: 95px;
        right: 45px;
    }
    .a_Submit{
        text-decoration: none;
        color: #08B2FB;
        font-size: 28px;
         font-weight: bold;
    }
